@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-noticia), sans-serif;
  --font-display: var(--font-playfair-display), sans-serif;

  --color-vooruit-red: #DB261D;
  --color-vooruit-yellow: #FFF903;
}
