---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import globeIcon from "../assets/WorldIcon.svg";
import searchIcon from "../assets/search.svg";
---
<header class="h-24 border-b">
  <nav class="relative flex flex-col justify-center w-full">
    <div class="inline-flex justify-center">
      <a href="/">
        <h1 class="font-display text-3xl md:text-5xl">
          <span class="text-vooruit-red">V</span><span>ooruit!</span>
        </h1>
      </a>
    </div>
    <div class="inline-flex justify-between">
      <div class="hidden md:inline-flex space-x-3 items-center">
        <Image
          src={globeIcon}
          alt="Globe Icon"
          width={24}
          height={24}
          loading="eager"
        />
        <span id="date" class="text-sm font-semibold"></span>
      </div>
      <div class="hidden md:inline-flex space-x-3 items-center">
        <span id="date" class="text-sm font-semibold">Zoeken</span>
        <Image
          src={searchIcon}
          alt="Globe Icon"
          width={20}
          height={20}
          loading="eager"
        />
      </div>
    </div>
  </nav>
</header>

<script>
  const today = new Date();

  const formattedDate = new Intl.DateTimeFormat("nl", {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(today);
  const dateSpan = document.querySelector("#date");

  if (dateSpan) {
    dateSpan.innerHTML = formattedDate;
  }
</script>
